.flower {
  width: 100%;

  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}

.main {
  height: 136px;
  max-height: fit-content;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 136px;
  cursor: pointer;
}

.description {
  background-color: var(--dark);
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 21.5px 24px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 29px 9px 29px 24px;
  overflow: hidden;
  max-width: fit-content;
}

.name {
  color: var(--dark);
  font-weight: 800;
  line-height: 34px;
  font-size: 28px;
  padding-bottom: 12px;
  word-break: break-all;
  hyphens: auto;
}
.indicators {
  display: flex;
}

.indicator {
  background-color: var(--transparent);
  color: var(--dark);
  width: 87px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  border-radius: 8px;
}

.text {
  padding: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.imgBlock {
  height: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
}
