.flower {
  width: 100%;

  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
}

.main {
  min-height: 136px;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 136px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 29px 9px 29px 24px;
  overflow: hidden;
}

.name {
  color: var(--dark);
  font-weight: 800;
  line-height: 34px;
  font-size: 28px;
  padding-bottom: 12px;
  word-break: break-all;
  hyphens: auto;
}

.indicators {
  display: flex;
}

.indicator {
  background-color: var(--transparent);
  color: var(--dark);
  width: 87px;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}
.indicator:not(:last-child) {
  margin-right: 4px;
}

.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.imgBlock {
  height: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  aspect-ratio: 1;
  display: block;
}

.descriptionBlock {
  background-color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.description {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 21.5px 24px;
  text-align: left;
  min-height: 128px;
  display: flex;
  align-items: center;
}
