.pink {
  --background: #f8d9e8;
  --dark: #640227;
  --transparent: #6402271a;
}
.blue {
  --background: #9cb5ba;
  --dark: #1f2c2e;
  --transparent: #1f2c2e1a;
}
.green {
  --background: #d4e99c;
  --dark: #394107;
  --transparent: #3941071a;
}
