@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

.container {
  font-family: 'Inter', sans-serif;
  text-align: center;
  max-width: 375px;
  padding: 40px 16px;
}

.pink {
  --background: #f8d9e8;
  --dark: #640227;
  --transparent: #6402271a;
}
.blue {
  --background: #9cb5ba;
  --dark: #1f2c2e;
  --transparent: #1f2c2e1a;
}
.green {
  --background: #d4e99c;
  --dark: #394107;
  --transparent: #3941071a;
}
